html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans",Calibri, Helvetica, sans-serif, "Lucida Sans";
}
.container {
  display: flex;
  height: 100vh;
}

.column-left {
  width: 60%;
  height: 100vh;
}

.column-right {
  width: 40%;
  height: 100%;
  border-left: 1px solid #10b981;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}
h1 {
  background-color: #10b981;
  color: white;
  border-radius: 0.5em;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0.5em auto;
  padding: 0.5em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

div#my-div {
  position: absolute;
  background-color: #10b981;
  color: white;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: 700;
  margin: 0.5em auto;
  padding: 0.5em;
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-25%); /* Center horizontally */
  z-index: 1; /* Ensure it floats above the map */
  top: 20px;
  left: 25%;
}

div#station {
  background-color: #dd584d;
  color: white;
  border-radius: 0.5em;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0.5em auto;
  padding: 0.5em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#buttonsdiv {
  position: absolute;
  text-align: center;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  bottom: 20px;
  left: 28%;
  width: 150px;
  display: inline-block;
  transform: translateX(-28%); /* Center horizontally */
  z-index: 1; /* Ensure it floats above the map */
}

#playagain {
  position: absolute;
  bottom: 50px;
  right: 16%;
  display: inline-block;
  z-index: 1; /* Ensure it floats above the map */
}

div#ghostinfo {
  font-size: 1.1em;
  padding: 5px;
  margin: 0;
}

div#playbutton {
  text-align: center;
}

.image-container {
  text-align: center;
}

.button {
  background-color: #dd584d;
  color: white;
  border: none;
  padding: 5px;
  font-size: 20px;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:active {
  background-color: #dd584d;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.round-6 {
  border-radius: 70%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  border: 2px solid #10b981;
}


.my-button {
  background-color: #10b981;
  color: #fff;
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 7px 12px;
  display: inline-block;
}
.my-button:hover {
  background-color: #52c193;
}
.my-button:active {
  transform: scale(0.95);
}

.leaflet-popup-content-wrapper {
 background: rgba(221,88,77, .7); 
  color: white;
  border: 2px solid #10b981;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none !important;
}
.leaflet-popup-tip {
  width: 0px;
  height: 0px;
}
.leaflet-popup-close-button {
  display: none;
}
 
canvas {
  position: absolute;
  height: 100%;
  top: 0px;
  z-index: 1; /* Ensure it floats above the map */  
    display: block;
    margin: auto;
    background-color: rgba(255, 255, 255, 0); /* Make the background transparent */
    width: 60%; /* Set a fixed width */
     /* Set a fixed height */
    pointer-events: none; /* Allows interaction with the element below */
  }

#about {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1; /* Ensure it floats above the map */  
  }
  
 @media (max-width: 480px) {
    /* Mobile screen adjustments */
    .container {
      flex-direction: column; /* Switch to column layout */
      height: 100vh; /* 100% of the viewport height */
    }

    .column-left {
      width: 100%; /* Full width */
      height: 45vh; /* 60% of the viewport height */
    }

    .column-right {
      order: -1; /* Places column-right before column-left */
      width: 100%; /* Full width */
      height: 55vh; /* 40% of the viewport height */
    }
    div#my-div {
      display:none;
      position: absolute;
      background-color: #B8020F;
      color: white;
      border-radius: 0.3em;
      font-size: 1em;
      font-weight: 700;
      padding: 0.5em;
      width: 250px;
      text-align: center;
      text-transform: uppercase;
      z-index: 1000; /* Ensure it floats above the map */
      top: 1em;
      left: 50%; /* Position at 50% from the left */
      transform: translateX(-50%); /* Center horizontally */
    }
    #buttonsdiv {
      position: absolute;
      text-align: center;
      box-shadow: 0 4px 6px #005a00;
      cursor: pointer;
      transition: all 0.2s ease;
      bottom: 2px;
      left: 50%;
      width: 100px;
      display: inline-block;
      transform: translateX(-50%); /* Center horizontally */
      z-index: 1001; /* Ensure it floats above the map */
    }

    div#ghostinfo {
      font-size: 1em;
      padding: 0.1em;
      margin: 0;
    }

    .imglogo {
      width: 80px; /* Adjust the width to your preference */
      height: 80px; /* Adjust the height to your preference */
    }

    .center {
      max-width: 300px;
    }

    .button {
      font-size: 1.4em;
      padding: 0.4em 0.8em;
    }

    .my-button {
      font-size: 1em;
    }

    div#station {
      border: 2px solid #333;
      font-size: 1.1em;
    }

    #descripText{
      margin-top: -6px;
    }

  }
